India_Pincodes/*
Targeted Reports/Rider Report/image_files/*
__pycache*
*.cer
.DS_Store
*.pem
margin/Revenue April-24 File _V3.xlsx
.DS_Store
.DS_Store
margin_v2/margin*
margin_v2/March Vendor Margin*
margin_v2/vendor_margins*
margin_v2/ops_main2.csv
